.categories {
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 345px));
    gap: 36px;
}

@media screen and (max-width: 1200px) {
    .categories {
        gap: 16px;
        overflow-x: scroll;
    }
}
