@import "@sass/_colors.scss";
@import "@sass/_media.scss";

.image {
    border-radius: 0.04rem 0.04rem 0 0;
    overflow: hidden;
    background-color: $image-bg;
}

.card {
    background-color: $white;
    border-radius: 0.04rem;
    border: 1px solid $grey-light;
    overflow: hidden;
    max-width: 34.7rem;
    cursor: pointer;
}

.caption {
    padding: 2.2rem 1.6rem;
    border-top: 1px solid $grey-light;

    @include mobile {
        padding: 0.5rem 1rem;
    }
}
