.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
}

@media screen and (max-width: 768px) {
    .categories {
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.noWrap {
    grid-template-columns: repeat(4, minmax(240px, 345px));
}
