.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    width: 100%;
}

.categoriesWrapper {
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .categories {
        width: 100%;
        overflow-x: scroll;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.noWrap {
    grid-template-columns: repeat(4, minmax(240px, 345px));
}
