@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.list {
    display: flex;
    align-items: center;
}

.linkItem {
    padding: 0 1.4rem;

    &:last-child {
        padding-right: 0;
    }
}

.home {
    padding-right: 1.6rem;
    flex-shrink: 0;
}

.arrow {
    flex-shrink: 0;
}
