@import "./src/sass/_colors.scss";
@import "./src/sass/_variables.scss";

.list {
    display: flex;
    align-items: center;
}

.linkItem {
    padding: 0 14px;

    &:last-child {
        padding-right: 0;
    }
}

.home {
    padding-right: 16px;
    flex-shrink: 0;
}

.arrow {
    flex-shrink: 0;
}
