@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.button {
    border-radius: 12rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 100%;
    padding: 3rem 5rem;

    @include mobile-large {
        width: 100%;
    }
}

.button.green {
    background-color: $primary-bg-green-light;
    color: $primary-text-light;
    transition: background-color 0.2s ease-in;

    &:hover {
        cursor: pointer;
        background-color: $btn-hover-bg;
    }
}

.button.grey {
    background-color: $secondary-light;
    color: $grey-darker;
    transition: background-color 0.2s ease-in;
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
        background-color: $grey-light;
    }
}

.button:disabled {
    background-color: $disabled;
    color: $silver;
    pointer-events: none;
}

.medium {
    width: 24.8rem;
}

.big {
    width: 32rem;
}

.small {
    width: 23.2rem;
    height: 4rem;
    padding: 0.8rem 18rem;
    line-height: 1.9rem;
    font-size: 1.6rem;
}

.adaptive {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .button {
        width: 100%;
    }
}
