@import "./src/sass/_colors.scss";
@import "./src/sass/_variables.scss";

.button {
    border-radius: 4px;
    height: 60px;
    width: 320px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding: 19px 20px;
}

.green {
    background-color: $light-green-color;
    color: $most-light-color;

    &:hover {
        background-color: $dark-green-color;
    }
}

.grey {
    background-color: $button-background-color;
    color: $button-text-color;

    &:hover {
        background-color: $light-grey-color;
    }
}

.medium {
    width: 248px;
}

.big {
    width: 320px;
}

.small {
    width: 232px;
}

.heightBig {
    height: 60px;
}

.heightSmall {
    height: 60px;
}
