@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.termsOfService {
    margin: 0 auto;
    padding-block: 5rem;

    & > u {
        cursor: pointer;
    }
}
