@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.section {
    padding: 2rem;
    background-color: $page-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 1.5rem;
    font-family: $primary-font;
    margin-bottom: 5rem;
    max-width: 658px;
    text-align: center;
}

.heading {
    margin: 1.8rem;

    & > h2 {
        font-weight: 600;
    }
}

.title {
    font-weight: 500;
    margin-bottom: 1rem;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    margin: 1rem;

    & > .signIn {
        width: 100%;
        border-radius: 12rem;
        align-self: center;
    }
}

.inlineBLock {
    display: inline-block;
}

.divider {
    margin: 1rem 0;
}

.socialButtons {
    margin-bottom: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;

    & > span {
        text-decoration: underline;
        text-underline-offset: 0.4rem;
    }
}

.additionalInfo {
    max-width: 46rem;
    margin: 0 auto;
}

.accountWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    & span {
        text-underline-offset: 0.4rem;
        text-decoration-line: underline;
    }
}

.docs {
    text-underline-offset: 0.4rem;
    text-decoration-line: underline;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .section {
        width: 100%;
        padding: 0;
    }

    .content {
        padding: 0;
    }

}
