@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.additionalInfo {
    max-width: 46rem;
    margin: 0 auto;
}

.accountWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: calc(100% - 60rem);
}

.textIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    text-decoration-line: underline;
    text-underline-offset: 0.4rem;

    &:hover {
        text-decoration: none;
    }
}

.errorWrapper {
    display: flex;
    align-items: center;
    height: 7.4rem;
    margin: 0.5rem 2rem;
    padding: 2rem 4rem;
    border-radius: 1.6rem;
    background-color: $error-bg;

    span {
        color: $error-text;
    }
}

.docs {
    text-underline-offset: 0.4rem;
    text-decoration-line: underline;

    &:hover {
        cursor: pointer;
    }
}
