@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

$link-hover-transform-amount: 6px;

.icon {
    transition: transform 0.2s ease-out;

    &:hover {
        transition: transform 0.2s ease-in;
    }

    svg {
        path {
            fill: $secondary-dark;
        }
    }
}

.link {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: -0.02em;
    color: $secondary-dark;

    &.white {
        color: $white;

        .icon {
            svg {
                path {
                    fill: $white;
                }
            }
        }
    }

    &.left {
        .icon {
            order: -1;
        }
    }

    &.withBorder {
        .text {
            border-bottom: 1px solid;
            transition: border 0.2s;
        }
    }

    @media (hover: hover) {
        &:hover {
            &.withBorder {
                .text {
                    border-color: transparent;
                }
            }

            .icon {
                transform: translateX($link-hover-transform-amount);
            }

            &.left {
                .icon {
                    transform: translateX(-$link-hover-transform-amount);
                }
            }
        }
    }
}

.darkTextColor {
    color: $primary-text-dark;
}

.lightTextColor {
    color: $primary-text-light;
}

.greyTextColor {
    color: $grey-dark;
}

.mostLightColor {
    color: $white;
}
