@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.section {
    background-color: $white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20rem;

    @include lte-tablet-large {
        margin-bottom: 10rem;
    }
}

.wrapper {
    padding: 3.3rem 15rem 0;
    max-width: $breakpoint-desktop-content;
    width: 100%;
}

.titleMargin {
    margin: 5.5rem 0 4rem;
    padding: 0.8rem 0;

    @include lte-tablet-large {
        margin: 3rem 0 2.4rem;
    }
}
