@import "./src/sass/_colors.scss";
@import "./src/sass/_variables.scss";

.wrapper {
    display: flex;
}

.navigationList {
    display: flex;
}

.navigationItem {
    padding: 0 16px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

@media screen and (max-width: 992px) {
    .navigationList {
        flex-direction: column;
        padding: 0 15px;
        background-color: $most-light-color;
        position: fixed;
        top: 49px;
        width: 100vw;
        height: 100vh;
        left: 0;
    }

    .navigationItem {
        padding: 12px 0;

        &:first-child {
            margin-top: 20px;
        }
    }
}
