@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.wrapper {
    display: flex;
}

.navigationList {
    display: flex;

    @include lte-tablet-large {
        flex-direction: column;
        padding: 0 1.5rem;
        background-color: $most-light-color;
        position: fixed;
        top: 4.8rem;
        width: 100vw;
        height: 100vh;
        left: 0;
    }
}

.navigationItem {
    padding: 0 1.6rem;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    @include lte-tablet-large {
        padding: 1.2rem 0;

        &:first-child {
            margin-top: 2rem;
        }
    }
}
