@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.mobileWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 1.5rem;

    @include lte-tablet-large {
        display: flex;
    }
}

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8rem;
    background: $white;
    box-shadow: 0 1px 4px rgb(0 0 0 / 25%);

    &.headerShowBurger {
        background: $primary-bg-light;

        .mobileWrapper {
            background: $primary-bg-light;
        }
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.6rem 5rem;
    max-width: $breakpoint-desktop-content;
    width: 100%;

    @include lte-tablet-large {
        position: fixed;
        top: 7rem;
        left: 0;
        z-index: 12;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 2rem 1.5rem 3rem;
        width: 100%;
        height: calc(100% - 7rem);
        overflow: auto;
        background: $primary-bg-light;

        .headerShowBurger & {
            display: flex;
        }

        .logoWrapper {
            display: none;
        }
    }
}

.burgerBtn {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 4.8rem;
    height: 1rem;

    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 0.2rem;
        background-color: $primary-text-dark;
        transition: opacity 0.2s, transform 0.2s;
    }

    .headerShowBurger & {
        &::before {
            opacity: 0;
            transform: translateY(5px);
            pointer-events: none;
        }
    }
}
