@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    width: 100%;
    background: $most-light-color;
    box-shadow: 0px 1px 4px rgba($shadow-color, 0.25);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 50px;
    max-width: $desktop-content-width;
    width: 100%;

    @include lte-tablet-large {
        display: none;
    }
}
