$most-light-color: #fff;
$light-text-color: #bdbdbd;
$dark-text-color: #333;
$input-background-color: #fafafa;
$light-grey-color: #e0e0e0;
$input-focus-color: #2f80ed;
$light-error-color: #eb5757;
$dark-error-color: #b00e23;
$dark-green-color: #219653;
$light-green-color: #27ae60;
$button-background-color: #f1f1f1;
$button-text-color: #777;
