$most-light-color: #fff;
$light-text-color: #bdbdbd;
$dark-text-color: #333;
$input-background-color: #fafafa;
$input-primary-color: #16161f;
$light-grey-color: #e0e0e0;
$input-focus-color: #5d8f54;
$input-error-color: #ea4335;
$light-error-color: #eb5757;
$text-error-color: #f57052;
$bg-error-color: rgba(245, 112, 82, 0.1);
$light-lime-color: #f5fff9;
$dark-green-color: #219653;
$light-green-color: #27ae60;
$button-default-color: #7CA376;
$button-hover-color: #62895C;
$button-disabled-color: #EAEAEA;
$button-default-text-color: #F8F8F8;
$button-disabled-text-color: #16161F30;
$button-background-color: #f1f1f1;
$button-text-color: #777;
$grey-text-color: #828282;
$dark-background: #161616;
$black: #000000;
$image-background: #fbfaf9;
$page-background-color: #f3f3f1;
