// Fracktif Medium
@font-face {
    font-family: "FracktifMedium";
    src: url("../assets/fonts/FracktifMedium/font.woff2") format("woff2"),
        url("../assets/fonts/FracktifMedium/font.woff") format("woff");
}

// Fracktif Semi Bold
@font-face {
    font-family: "FracktifSemiBold";
    src: url("../assets/fonts/FracktifSemiBold/font.woff2") format("woff2"),
        url("../assets/fonts/FracktifSemiBold/font.woff") format("woff");
}
