// Fracktif
@font-face {
    font-family: Fracktif;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: local("Fracktif"), url("../assets/fonts/Fracktif/Fontspring-DEMO-fracktif-regular.otf") format("opentype");
}
