// Media Query Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-mobile-large: 576px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-large: 992px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1200px;
$breakpoint-desktop-content: 1496px;

// Media Query Mixins
// lte - less than equals
// gte - greater than equals

@mixin mobile {
    @media screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin mobile-large {
    @media screen and (max-width: $breakpoint-mobile-large) {
        @content;
    }
}

@mixin gte-mobile-large {
    @media screen and (min-width: $breakpoint-mobile-large) {
        @content;
    }
}

@mixin lte-tablet {
    @media screen and (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin gte-tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin lte-tablet-large {
    @media screen and (max-width: $breakpoint-tablet-large) {
        @content;
    }
}

@mixin gte-tablet-large {
  @media screen and (min-width: $breakpoint-tablet-large) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin gte-desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin lte-desktop {
    @media screen and (max-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin gte-desktop-large {
    @media screen and (min-width: $breakpoint-large-desktop) {
        @content;
    }
}

@mixin lte-desktop-large {
    @media screen and (max-width: $breakpoint-large-desktop) {
        @content;
    }
}
