@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.wrapper {
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    top: 0;
}

.applyColor {
    svg {
        path {
            fill: inherit;
        }
    }
}
