@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.heading {
    font-weight: 800;
    font-family: $primary-font;
}

.heading1 {
    font-size: 48px;
    line-height: 59px;
}

.heading2 {
    font-size: 36px;
    line-height: 44px;
}

.heading3 {
    font-size: 24px;
    line-height: 30px;
}

.heading4 {
    font-size: 18px;
    line-height: 24px;
}

.heading5 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.dark-text-color {
    color: $dark-text-color;
}

.light-text-color {
    color: $light-text-color;
}

.most-light-color {
    color: $most-light-color;
}

@media screen and (max-width: 1300px) {
    .heading1 {
        font-size: 26px;
        line-height: 44px;
    }

    .heading2 {
        font-size: 24px;
        line-height: 30px;
    }
}
