@import "@sass/_media.scss";

.answersWrapper {
    max-width: 9rem;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.buttonMargin {
    margin-top: 4.8rem;
    align-self: flex-end;

    @include lte-tablet-large {
        margin-top: 2.4rem;
    }
}

.question {
    padding: 1.4rem 0;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    line-height: 3.2rem;

    @include lte-tablet-large {
        margin: 0;
    }
}

.questionCode {
    margin-bottom: 1rem;
}

.choose {
    margin-bottom: 1.6rem;
}
