@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.footer {
    width: 100%;
    background-color: $dark-background;
}

.content {
    padding: 10rem 1.5rem 8rem;
    max-width: $desktop-content-width;
    margin: 0 auto;

    @include mobile {
        padding: 4rem 1.5rem 5.5rem;
        max-width: $desktop-content-width;
    }
}

.navigation {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

    @include mobile {
        flex-direction: column;

        div {
            margin-top: 4rem;
        }
    }
}
