@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.footer {
    width: 100%;
    background-color: $dark-background;
}

.content {
    padding: 100px 15px 80px;
    max-width: $desktop-content-width;
    margin: 0 auto;
}

.navigation {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .content {
        padding: 40px 15px 55px;
        max-width: $desktop-content-width;
    }
    .navigation {
        flex-direction: column;

        div {
            margin-top: 40px;
        }
    }
}
