@import "@sass/colors.scss";
@import "@sass/variables.scss";

.listContainer {
    .list {
        display: flex;
        flex-flow: row wrap;
        width: 25rem;
        gap: 2.5rem;

        .item {
            font-family: $font-fracktif;
            flex-wrap: nowrap;
            text-align: center;
            font-style: normal;
            flex-basis: 45%;
            font-weight: 500;
            font-size: 1.8rem;
            color: $primary_light;
            letter-spacing: -0.015rem;
            text-decoration: underline;
            text-underline-offset: 0.25rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
