@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.list {
    display: flex;
    flex-flow: row wrap;
    color: $white;
    width: 15rem;
    gap: 2.5rem;

    li > {
        .link {
            white-space: nowrap;
            font-size: 1.8rem;
            letter-spacing: -0.015rem;
            text-decoration: underline;
            text-underline-offset: 0.25rem;
        }
    }

    @include lte-desktop-large {
        li > {
            .link {
                font-size: 1.6rem;
            }
        }
    }

    // @include lte-tablet-large {
    //     gap: 2rem;
    //     transform: translate(92%, 1rem);
    // }
}
