@import "@sass/_colors.scss";
@import "@sass/_media.scss";

.list {
    display: flex;
    color: $most-light-color;

    @include mobile {
        flex-direction: column;
    }
}

.item {
    padding: 0 1.6rem;

    @include mobile {
        padding: 0 0 1rem;

        &:last-child {
            padding-bottom: 2rem;
        }
    }
}
