@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.section {
    background-color: $most-light-color;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block: 18rem 20rem;
}

.wrapper {
    max-width: $breakpoint-desktop-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tests {
    border-top: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
}

.test {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "link info questions";
    column-gap: 2rem;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.7rem;
    grid-template: link;
    border-right: 1px solid #E8E8E8;

    @include gte-tablet-large {
        padding-top: 6rem;
    }
}

.link {
    font-size: 1.8rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    color: #16161F;

    &:hover {
        cursor: pointer;
    }
}

.info {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    grid-template: info;
}

.availability {
    display: flex;
    gap: 2rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > div > a:first-of-type {
        text-decoration: underline;
        text-underline-offset: 0.4rem;
        color: #16161F;
    }

    & > div > a {
        font-size: 1.8rem;
        color: #16161F;
    }

    @include gte-tablet-large {
        gap: 4rem;
        padding-top: 4.5rem;

        & > div > a:first-of-type {
            font-size: 4.6rem;
            margin-bottom: 4rem;
        }
    }

}

.details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 15rem;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #F3F3F1;
    grid-template: questions;

    @include gte-tablet-large {
        padding: 3rem 4rem;
        height: 66.5rem;
    }
}

.block {
    display: flex;
    flex-direction: column;

    & > span {
        font-size: 1.8rem;
        color: #16161F;
    }

    & > span:first-of-type, & > .note {
        max-width: 17rem;
        opacity: 0.5;
    }

    &:first-of-type {
        @include gte-tablet-large {
            padding-top: 3.4rem;
        }
    }
}


.btnWrapper {
    text-align: center;
    margin-top: 4rem;
}

.titleMargin {
    margin-bottom: 4rem;
    padding: 0.8rem 0;
    font-weight: 500;

    @include gte-tablet-large {
        font-size: 8.4rem;
        margin-bottom: 6rem;
    }
}

.arrow {
    padding-top: 0.5rem;
    svg {
        height: 1.6rem;
        width: 1.6rem;
        fill: #16161F;
        color: #16161F;
    }
}

.detailsIcon {
    margin-left: auto;

    @include gte-tablet-large {
        padding-top: 5.5rem;
    }
}

.questionsIcon {
    @include gte-tablet-large {
        padding-bottom: 2.5rem;
    }
}

.badges {
    display: flex;
    flex-direction: column;
}

.badgeLine {
    margin-bottom: 1.5rem;
}

.badge {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #74A253;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;

    &:not(:last-of-type) {
        margin-right: 0.5rem;
    }
}

.badgeSoon {
    height: max-content;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #16161F;
    font-weight: 600;
    background-color: #F6E01E;
    border-radius: 12rem;
    padding: 0.2rem 0.8rem;
}
