@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 2rem;
    padding: 1.9rem 1.2rem;
    background-color: $bg-error-color;
    border-radius: 1.6rem;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

.errorMessage {
    text-align: center;

    & > span {
        color: $text-error-color;
        font-weight: 600;
    }
  }
