@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $white;
    margin-bottom: 10rem;
}

.wrapper {
    padding: 0 1.5rem;
    width: $breakpoint-desktop-content;
}

.breadcrumbsWrapper {
    padding: 3rem 0 5.8rem;
}

.socialsWrapper {
    margin-bottom: 2.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .share,
    .favorites {
        display: flex;
        align-items: center;
    }

    .favorites {
        margin-right: 4.3rem;
        cursor: pointer;
    }

    @include mobile {
        justify-content: space-between;
    }
}

.iconMargin {
    margin-right: 0.8rem;
}

.title {
    margin-bottom: 1.6rem;
    padding: 0.8rem 0;

    @include mobile {
        order: -1;
        margin-top: 1.6rem;
        margin-bottom: 0;
    }
}

.row {
    display: flex;

    @include mobile {
        flex-direction: column;
    }
}

.imgWrapper {
    max-width: 60rem;
    width: 100%;
}

.content {
    flex-grow: 1;
    max-width: 79.2rem;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    flex-shrink: 2;

    @include mobile {
        padding: 0;
    }
}
