@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $most-light-color;
    margin-bottom: 100px;
}
.wrapper {
    padding: 0 15px;
    width: $desktop-content-width;
}

.breadcrumbsWrapper {
    padding: 30px 0 58px;
}

.socialsWrapper {
    margin-bottom: 23px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .share,
    .favorites {
        display: flex;
        align-items: center;
    }

    .favorites {
        margin-right: 43px;
    }
}

.iconMargin {
    margin-right: 8px;
}

.title {
    margin-bottom: 16px;
    padding: 8px 0;
}

.row {
    display: flex;
}

.imgWrapper {
    max-width: 600px;
    width: 100%;
}

.content {
    flex-grow: 1;
    max-width: 792px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    flex-shrink: 2;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .content {
        padding: 0;
    }
    .title {
        order: -1;
        margin-top: 16px;
        margin-bottom: 0;
    }

    .socialsWrapper {
        justify-content: space-between;
    }
}
