@import "@sass/_media.scss";

.infoWrapper {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2.4rem;

    @include gte-desktop-large {
        flex-direction: column;
        margin: 1rem 0 0 0;
    }
}

.iconCaption {
    display: flex;
    align-items: center;
    width: 28.6rem;
    margin-right: 4.2rem;

    @include gte-desktop-large {
        margin-top: 1.6rem;

        &:first-child {
            margin-top: 3rem;
        }
    }
}

.iconCaptionLangs {
    display: flex;
    align-items: center;
}

.button {
    margin-top: auto;
    padding-top: 0.5rem;

    @include gte-desktop-large {
        margin: 1rem 0 3rem;
        order: -1;
    }
}

.marginRight {
    margin-right: 1.2rem;
}

