.infoWrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 24px;
}

.iconCaption {
    display: flex;
    align-items: center;
    width: 286px;
    margin-right: 42px;
}

.iconCaptionLangs {
    display: flex;
    align-items: center;
}

.button {
    margin-top: auto;
    padding-top: 5px;
}

.marginRight {
    margin-right: 12px;
}
