.infoWrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 24px;
}

.iconCaption {
    display: flex;
    align-items: center;
    width: 286px;
    margin-right: 42px;
}

.iconCaptionLangs {
    display: flex;
    align-items: center;
}

.button {
    margin-top: auto;
    padding-top: 5px;
}

.marginRight {
    margin-right: 12px;
}

@media screen and (max-width: 1200px) {
    .infoWrapper {
        flex-direction: column;
        margin: 10px 0 0;
    }

    .button {
        margin: 10px 0 30px;
        order: -1;
    }

    .iconCaption {
        margin-top: 16px;

        &:first-child {
            margin-top: 30px;
        }
    }
}
