@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $white;
    margin-bottom: 10rem;

    @include gte-desktop-large {
        margin-bottom: 8rem;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(40rem, 63.3rem) minmax(50rem, 73.6rem);
    justify-content: space-between;
    column-gap: 2.5rem;
    padding: 10rem 1.5rem 6.6rem;
    width: $breakpoint-desktop-content;

    @include gte-desktop-large {
        grid-template-columns: 1fr;
        padding: 0 1.5rem;
    }
}

.titleWrapper {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
    margin-bottom: 3rem;

    @include gte-desktop-large {
        margin-bottom: 2rem;
    }
}

.text {
    flex-shrink: 2;
    max-width: 64.3rem;
    padding-right: 1rem;
}

.image {
    grid-row: 1/4;
    grid-column: 2/3;
    border-radius: 0.8rem;
    overflow: hidden;
    max-width: 73.6rem;

    @include gte-desktop-large {
        grid-row: 2/3;
        grid-column: unset;
        margin-bottom: 2.4rem;
    }
}

.titleMargin {
    margin-right: 1.5rem;
}

.pMargin {
    margin-bottom: 3rem;
}

.logo {
    @include gte-desktop-large {
        max-width: 20rem;
    }

    
}
