@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $white;
    margin-bottom: 10rem;

    @include gte-desktop-large {
        margin-bottom: 8rem;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(40rem, 63.3rem) minmax(50rem, 73.6rem);
    justify-content: space-between;
    column-gap: 2.5rem;
    padding: 10rem 1.5rem 6.6rem;
    width: $breakpoint-desktop-content;

    @include gte-desktop-large {
        grid-template-columns: 1fr;
        padding: 0 1.5rem;
    }
}

.titleWrapper {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
    margin-bottom: 3rem;

    @include gte-desktop-large {
        margin-bottom: 2rem;
    }
}

.text {
    flex-shrink: 2;
    max-width: 64.3rem;
    padding-right: 1rem;
}

.image {
    grid-row: 1/4;
    grid-column: 2/3;
    border-radius: 0.8rem;
    overflow: hidden;
    max-width: 73.6rem;

    @include gte-desktop-large {
        grid-row: 2/3;
        grid-column: unset;
        margin-bottom: 2.4rem;
    }
}

.titleMargin {
    margin-right: 1.5rem;
}

.pMargin {
    margin-bottom: 3rem;
}

.logo {
    @include gte-desktop-large {
        max-width: 20rem;
    }

    .info {
        margin: 7% 0 0 5%;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1%;

        & > * {
            color: $primary_light;
        }

        .infoLeftParagraph {
            flex: 0.25;
            padding: 0.5rem;
            font-size: 1.8rem;
        }

        .infoRight {
            flex: 0.7;
            display: flex;
            flex-flow: column wrap;
            gap: 4rem;

            & > * {
                color: $primary_light;
            }

            .infoTitle {
                width: 89rem;
                white-space: pre-wrap;
                font: 500 4.6rem/110% $fracktif-medium;
                letter-spacing: -0.03rem;
            }

            .infoRightDescription {
                display: flex;
                flex-flow: row wrap;
                gap: 11%;

                .infoSmallParagraph {
                    flex-basis: 25%;
                    color: $primary_light;
                    font-size: 1.2rem;
                }

                .infoRightWithSnippet {
                    flex-basis: 35%;
                    display: flex;
                    flex-flow: column wrap;
                    gap: 5rem;

                    .infoParagraph {
                        color: $primary_light;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .journey {
        margin: 7% 0 0 5%;

        .journeyWrapper {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: flex-start;

            .journeyLeft {
                flex: 0.25;
                width: max-content;
                color: $primary_light;
                font: 600 1.8rem/140% $fracktif-medium;
                margin: 2rem 0 0 0;
            }

            .guide {
                flex: 0.7;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                gap: 5rem;

                .journeyButton {
                    width: 36rem;
                    margin: 0;
                    align-self: flex-start;
                    justify-self: flex-start;
                }
            }
        }
    }
}
