@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $most-light-color;
    margin-bottom: 100px;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(400px, 633px) minmax(500px, 736px);
    justify-content: space-between;
    column-gap: 25px;
    padding: 100px 15px 66px;
    width: $desktop-content-width;
}

.titleWrapper {
    display: flex;
    align-items: center;

    padding: 8px 0;
    margin-bottom: 30px;
}

.text {
    flex-shrink: 2;
    max-width: 643px;
    padding-right: 10px;
}

.image {
    grid-row: 1/4;
    grid-column: 2/3;
    border-radius: 8px;
    overflow: hidden;
    max-width: 736px;
}

.titleMargin {
    margin-right: 15px;
}

.pMargin {
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .image {
        grid-row: 2/3;
        grid-column: unset;
        margin-bottom: 24px;
    }
    .logo {
        max-width: 200px;
    }

    .titleWrapper {
        margin-bottom: 20px;
    }

    .section {
        margin-bottom: 80px;
    }
}
