@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.container {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    color: $primary-text-dark;
    background-color: $primary-bg-light;

    .backBtnContainer {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        cursor: pointer;

        .arrowLeftIcon path {
            fill: $primary-text-dark;
        }

        .backBtnText {
            font-size: 1.8rem;
            color: $primary-text-dark;
            border-bottom: 1px $primary-text-dark solid;
            margin-top: 0.1rem;
            transition: all 0.2s ease-out;

            &:hover {
                margin-top: 0.4rem;
                padding-bottom: 0.3rem;
                transition: all 0.2s ease-in;
            }
        }
    }

    .logo {
        margin: 0 auto;
    }
}
