@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.container {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    color: $primary-dark;
    background-color: $page-background-color;

    .backBtnContainer {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        cursor: pointer;

        .arrowLeftIcon path {
            fill: $primary-dark;
        }

        .backBtnText {
            color: $primary-dark;
            border-bottom: 0.1rem $primary-dark solid;

            &:not(:hover) {
                margin-top: 0.1rem;
                padding-bottom: 0rem;
                transition: all 0.1s ease-out;
            }

            &:hover {
                margin-top: 0.3rem;
                padding-bottom: 0.2rem;
                transition: all 0.1s ease-in-out;
            }
        }

        @include mobile {
            display: none;
        }
    }

    .logo {
        margin: 0 auto;
    }
}
