@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
    background: $most-light-color;
    font-family: $primary-font;
    margin-bottom: 200px;
}

.wrapper {
    background-color: $light-lime-color;
    display: flex;
    justify-content: center;
    padding: 100px 15px;
    max-width: $desktop-content-width;
    width: 100%;
    border-radius: 8px;
    border: 1px solid $light-grey-color;
}

.content {
    max-width: 658px;
    text-align: center;
    padding: 0 15px;
}

.textMargin {
    margin: 40px 0;
}

.paddings {
    margin-bottom: 40px;
    padding: 8px 0;
}

@media screen and (max-width: 992px) {
    .wrapper {
        padding: 40px 15px;
    }

    .paddings {
        margin: 0;
    }

    .textMargin {
        margin-top: 24px;
    }

    .section {
        margin-bottom: 100px;
    }
}
