@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1.5rem;
    background: $most-light-color;
    font-family: $primary-font;
    margin-bottom: 20rem;

    @include lte-tablet-large {
        margin-bottom: 10rem;
    }
}

.wrapper {
    background-color: $light-lime-color;
    display: flex;
    justify-content: center;
    padding: 10rem 1.5rem;
    max-width: $breakpoint-desktop-content;
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid $light-grey-color;

    @include lte-tablet-large {
        padding: 4rem 1.5rem;
    }
}

.content {
    max-width: 65.8rem;
    text-align: center;
    padding: 0 1.5rem;
}

.textMargin {
    margin: 4rem 0;

    @include lte-tablet-large {
        margin-top: 2.4rem;
    }
}

.paddings {
    margin-bottom: 4rem;
    padding: 0.8rem 0;

    @include lte-tablet-large {
        margin: 0;
    }
}
