@import "@sass/colors.scss";
@import "@sass/variables.scss";

.roadmap_container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 4em;
    padding: 1em;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .roadmap_title {
            height: fit-content;
            font-size: 2.8rem;
            font-weight: 500;
            background-color: $light-queaternarty-bg-color;
            color: #f5f5f5;
            text-align: center;
            padding: 4px 8px;
            border-radius: 1rem;

            @media screen and (max-width: $desktop-content-width) {
                font-size: 2.6rem;
            }
        }

        .roadmap_button_group {
            display: flex;
            gap: 0.5em;

            .roadmap_button {
                width: max-content;
                background-color: $background-secondary-light;
                padding: 6px 12px;
                height: 2.3rem;
                text-align: center;
                font-size: 1.1rem;
                font-weight: 500;
                color: $input-primary-color;
                border-radius: 0.6rem;

                & > input {
                    accent-color: $light-queaternarty-bg-color;
                    width: 0.8rem;
                    height: 0.8rem;
                    margin-left: 5px;
                }
            }
        }
    }

    @media screen and (max-width: 1020px) {
        padding: 0;

        .header {
            flex-flow: column;
            align-items: center;
            gap: 1em;

            .roadmap_title {
                margin: 1em 1em;
                align-self: flex-start;
                width: fit-content;
                padding: 4px 8px;
            }

            .roadmap_button_group {
                margin-right: 1em;
                flex-flow: column;
                align-self: flex-end;

                .roadmap_button {
                    white-space: nowrap;
                    width: max-content;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }
    }
}
