@import "./src/sass/_colors.scss";
@import "./src/sass/_variables.scss";

.general {
    font-family: $primary-font;
    font-weight: 400;
}
.big {
    font-size: 18px;
    line-height: 28px;
}
.medium {
    font-size: 16px;
    line-height: 28px;
}

.small {
    font-size: 14px;
    line-height: 20px;
}

.bold {
    font-weight: 700;
}

.dark-text-color {
    color: $dark-text-color;
}

.light-text-color {
    color: $light-text-color;
}

.grey-text-color {
    color: $grey-text-color;
}

.most-light-color {
    color: $most-light-color;
}

.lineHeight32 {
    line-height: 32px;
}

.lineHeight28 {
    line-height: 28px;
}

.lineHeight24 {
    line-height: 24px;
}

.lineHeight22 {
    line-height: 22px;
}

.lineHeight20 {
    line-height: 20px;
}

.lineHeight17 {
    line-height: 17px;
}
