@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.big {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.medium {
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.small {
    font-size: 1.4rem;
    line-height: 2rem;
}

.semiBold {
    font-family: $fracktif-semi-bold;
}

.darkTextColor {
    color: $secondary-dark;
}

.lightTextColor {
    color: $primary-text-light;
}

.greyTextColor {
    color: $grey-dark;
}

.mostLightColor {
    color: $white;
}

.lineHeight32 {
    line-height: 3.2rem;
}

.lineHeight28 {
    line-height: 2.8rem;
}

.lineHeight24 {
    line-height: 2.4rem;
}

.lineHeight22 {
    line-height: 2.2rem;
}

.lineHeight20 {
    line-height: 2rem;
}

.lineHeight17 {
    line-height: 1.7rem;
}
