@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.forgotPassword {
    padding-left: 4rem;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.4rem;
    }
}

.accountWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: calc(100% - 40rem);
}

.textIconWrapper {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    & span:nth-child(1) {
        cursor: pointer;
    }
}
