@import "@sass/_colors.scss";
@import "@sass/_media.scss";

.stepWrapper {
    max-width: 25.5rem;
    padding: 0 0.5rem 4rem;
    text-align: center;

    @include gte-desktop-large {
        max-width: 15rem;
    }
}

.step {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    border: 1px solid $light-grey-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4rem;

    @include gte-desktop-large {
        width: 14rem;
        height: 14rem;
    }
}
