@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.circle {
    opacity: 0;
    width: 0;
    height: 0;
}

.row {
    display: flex;
    border-radius: 0.8rem;
    border: 1px solid $grey-light;
    padding: 1.6rem;
    margin-bottom: 1.6rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.customHollowInput {
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    border: 2px solid $grey-dark;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    margin-right: 1.6rem;
}

.circle:checked ~ .customHollowInput {
    border: 2px solid $green-light;

    .innerCircle {
        width: 1rem;
        height: 1rem;
        background-color: $green-light;
        border-radius: 50%;
    }
}

.checkMark {
    font-size: 1rem;
    line-height: 1rem;
}

.checkBoxInput {
    border-radius: 0.4rem;
}

.highlightedBorder {
    border: 1px solid $green-light;
}

.green,
.red {
    border: none;
}

.green {
    background: rgba($green-light, 0.1);
}

.red {
    background: rgba($error, 0.1);
}

// close icon
.close {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: auto;

    &::before,
    &::after {
        position: absolute;
        left: 0.8rem;
        background-color: $error;
        content: "";
        height: 2rem;
        width: 0.14rem;
        border-radius: 0.2rem;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.rightAnswerMark {
    position: relative;
    width: 2rem;
    height: 1.5rem;
    margin-left: auto;

    &::before,
    &::after {
        background: $green-light;
        position: absolute;
        content: " ";
        border-radius: 0.2rem;
    }

    &::before {
        left: 0.8rem;
        height: 1.9rem;
        width: 0.14rem;
        top: 0;
        bottom: 0;
        transform: rotate(45deg);
    }

    &::after {
        width: 1rem;
        top: 1.1rem;
        left: -0.6rem;
        height: 0.14rem;
        transform: rotate(-130deg);
        bottom: 0;
    }
}
