@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.section {
    background-color: $most-light-color;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10rem;
    padding-top: 3rem;
}

.wrapper {
    padding: 0 1.5rem;
    max-width: $breakpoint-desktop-content;
    width: 100%;
}

.titleMargin {
    padding: 0.8rem 0;
    margin: 2rem 0 2.4rem;
}

.statsTitleShareWrapper {
    display: flex;
    flex-direction: column;
}

.share {
    align-self: flex-end;
    margin-top: 2.4rem;
    display: flex;
    align-items: center;

    @include lte-tablet-large {
        order: 1;
    }
}
