@import "@sass/_colors.scss";
@import "@sass/_media.scss";

.stats {
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
    padding: 4rem;
    border-radius: 1rem;
    border: 1px solid $light-grey-color;
    text-align: center;

    @include lte-tablet-large {
        flex-direction: column;
        margin-bottom: 2.4rem;
        padding: 2.4rem 1.5rem 1.5rem;
    }
}

.btn {
    margin-left: auto;

    @include lte-tablet-large {
        margin: 2.4rem 0 0;
    }
}

.iconCls {
    margin-right: 4rem;

    @include lte-tablet-large {
        margin: 0 0 1.4rem;
    }
}
