@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.node_list {
    display: flex;
    flex-flow: column;
    font-family: $primary-font;
    list-style-type: none;

    .node_name {
        background-color: $background-secondary-light;
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        padding: 6px 8px 6px 8px;
        font-size: 18px;
        font-weight: 500;
        color: $input-primary-color;
        white-space: nowrap;

        &.finished {
            color: $background-secondary-light;
            background-color: $queaternarty_light;
        }

        &:hover {
            cursor: pointer;
            background-color: $queaternarty_light;
        }
    }

    @media screen and (max-width: 450px) {
        padding: 0;

        .node_name {
            font-size: 16px;
        }
    }
}
