@import "@sass/_colors.scss";
@import "@sass/_variables.scss";
@import "@sass/_media.scss";

.section {
    padding: 2rem;
    background-color: $primary-bg-light;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    @include mobile {
        width: 100%;
        padding: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 1.5rem;
    max-width: 65.8rem;
    text-align: center;

    @include mobile {
        padding: 0;
    }
}

.heading {
    margin: 0 1.8rem 3rem;
}

.title {
    margin-bottom: 1rem;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem 2rem 0 2rem;

    & > .signIn {
        width: 100%;
        border-radius: 12rem;
        align-self: center;
    }
}

.info {
    display: inline-block;
    max-width: 46rem;
    margin: 0 auto;
}

.divider {
    margin: 1rem 0;
}

.socialButton {
    margin-bottom: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

    & span {
        font-size: 1.8rem;
    }

    & span:hover {
        cursor: pointer;
        text-underline-offset: 0.4rem;
        text-decoration-line: underline;
    }
}
