@import "../../sass/_colors.scss";

.group {
    .label {
        color: $dark-text-color;
        display: block;
        margin-bottom: 8px;
        font-family: "Rubik";
    }

    .input {
        color: $light-text-color;
        border-radius: 4px;
        background-color: $input-background-color;
        border: 1px solid $light-grey-color;
        padding: 14px 4px 14px 12px;
        width: 320px;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        line-height: 143%;
    }
    .input:focus {
        color: $dark-text-color;
    }
}
