@import "./src/sass/_colors.scss";
@import "./src/sass/_variables.scss";

.logo {
    & > button {
        font-family: $fracktif-semi-bold;
        font-style: normal;
        cursor: pointer;
        color: $primary-text-light;
        font-size: 1.8rem;
        width: 12.6rem;
        height: 2.5rem;
        line-height: 140%;
    }

    .dark {
        color: $primary-text-dark;
    }

    .light {
        color: $primary-text-light;
    }
}
