@import "./src/sass/_colors.scss";
@import "./src/sass/_variables.scss";

.logo {
    & > button {
        font-family: $font-fracktif;
        font-style: normal;
        cursor: pointer;
        color: $primary_light;
        font-size: 1.8rem;
        font-weight: 600;
        width: 12.6rem;
        height: 2.5rem;
        line-height: 140%;
    }

    .dark {
        color: $primary-dark;
    }

    .light {
        color: $primary-light;
    }
}
