@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.inputWrapper {
    position: relative;
    padding: 20px;
    width: 626px;
    height: 584px;
    left: 90px;
    top: 317px;
    font-family: $font-fracktif;

    .input {
        position: relative;
        width: 586px;
        height: 74px;
        padding: 25px 80px 24px 40px;
        color: $input-primary-color;
        background: $most-light-color;
        border: 1.5px solid $most-light-color;
        border-radius: 16px;
        font-size: 18px;
        line-height: 25.2px;

        &:focus {
            border: 1.5px solid $input-focus-color;
        }

        &::placeholder {
            color: $light-text-color;
        }
    }

    .label {
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
        line-height: 20px;
        letter-spacing: -0.02em;
        font-feature-settings: "ss03" on;
        color: $dark-text-color;
        opacity: 0.3;
    }

    .inputToggler {
        position: absolute;
        width: 30px;
        height: 16px;
        left: 534px;
        top: 50px;
        text-align: right;
        font-size: 12px;
        line-height: 15.6px;
        letter-spacing: -0.02em;
        font-feature-settings: "ss03" on;
        color: $input-primary-color;
    }

    .errorWrapper {
        position: absolute;
        width: 30px;
        height: 16px;
        left: 534px;
        top: 50px;
        text-align: right;
        font-family: $input-primary-color;
        font-size: 12px;
        line-height: 15.6px;
        letter-spacing: -0.02em;
        font-feature-settings: "ss03" on;
        color: $input-error-color;
    }

    .inputError {
        border: 1.5px solid $light-error-color;

        &:focus {
            border: 1.5px solid $light-error-color;
        }
    }
}
