@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.inputWrapper {
    position: relative;
    padding: 20px;
    font-family: $font-fracktif;

    .input {
        position: relative;
        width: 100%;
        height: 74px;
        padding: 20px 80px 20px 40px;
        color: $input-primary-color;
        background: $most-light-color;
        border: 1.5px solid $most-light-color;
        border-radius: 16px;
        font-size: 18px;

        &:focus {
            border: 1.5px solid $input-focus-color;
        }

        &::placeholder {
            color: $light-text-color;
        }
    }

    .label {
        position: absolute;
        top: 0px;
        left: 20px;
        font-size: 16px;
        color: $dark-text-color;
        opacity: 0.3;
    }

    .inputToggler {
        position: absolute;
        top: 50%;
        right: 60px;
        transform: translate(0, -50%);
        font-size: 12px;
        color: $input-primary-color;
    }

    .errorWrapper {
        position: absolute;
        top: 50%;
        right: 60px;
        transform: translate(0, -50%);
        font-size: 12px;
        color: $input-error-color;
    }

    .inputError {
        border: 1.5px solid $light-error-color;
    }

    .inputRemoveExtraRightPadding {
        padding: 20px 40px 20px 40px;
    }
}
