@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.section {
    min-height: 600px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 150px;
}

.wrapper {
    padding: 120px 15px;
    max-width: $desktop-content-width;
    width: 100%;
    position: relative;
}

.imageContainer {
    position: absolute;
    inset: 0 0 0 23%;
    height: 100%;
    z-index: -10;

    .gradient {
        position: absolute;
        z-index: 2;
        height: 100%;
        left: -1%;
        right: 58%;
        background: linear-gradient(90deg, $most-light-color 0%, rgb(255 255 255 / 0%) 100%);
    }
}

.content {
    max-width: 448px;
}

.marginTitle {
    margin-bottom: 20px;
    padding: 11px 0;
}

.marginText {
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .section {
        min-height: 400px;
        margin-bottom: 50px;

        .wrapper {
            padding: 50px 15px;
        }
    }

    .imageContainer {
        opacity: 0.5;
    }
}
