@import "@sass/_colors.scss";
@import "@sass/_variables.scss";

.section {
    font-family: $font-fracktif;
    min-height: 59rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;

        .content {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            flex-flow: column;
            gap: 1.5rem;

            .title {
                width: 47rem;
                color: $input-primary-color;
                height: 10rem;
                font-weight: 500;
                font-size: 5.25rem;
                letter-spacing: -0.06rem;
                display: flex;
                align-items: flex-end;
                line-height: 95%;

                .imageIcon {
                    margin-bottom: 0.8rem;
                }
            }

            .subtitle {
                width: 21rem;
                height: 6.25rem;
                font-weight: 500;
                font-size: 1.12rem;
                letter-spacing: -0.02rem;
            }

            .buttons {
                width: 21.8rem;
                display: flex;
                gap: 0.2rem;

                .contentButton {
                    padding: 1.56rem 2.5rem 1.56rem 2.5rem;
                    white-space: nowrap;
                    padding: 1.56rem 2.5rem;
                    border-radius: 7.5rem;
                    width: 15.1rem;
                    height: 4.8rem;
                    background-color: $light-queaternarty-bg-color;
                }

                .contentArrowButton {
                    white-space: nowrap;
                    padding: 1.56rem;
                    border-radius: 7.5rem;
                    width: 4.87rem;
                    height: 4.87rem;
                    border: 0.1rem solid rgba(116, 162, 83, 0.1);
                    position: relative;

                    .arrowDown {
                        height: 1.37rem;
                        width: 1.37rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.12rem;
                        font-weight: 500;
                    }
                }
            }

            .statistics {
                display: flex;
                gap: 2rem;
                margin-top: 40%;

                .info {
                    white-space: nowrap;
                    font-weight: 500;
                    font-size: 1rem;
                    letter-spacing: -0.015rem;
                }
            }
        }

        .imageContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
        }
    }

    @media screen and (max-width: 87rem) {
        .wrapper {
            .content {
                .title {
                    width: 32rem;
                    color: $input-primary-color;
                    height: 10rem;
                    font-size: 3.5rem;

                    .imageIcon {
                        padding: 0.5rem;
                        margin-bottom: 0.1rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 65rem) {
        .wrapper {
            flex-flow: column-reverse;
            align-items: center;
            padding: 1rem;
            gap: 7rem;

            .content {
                align-items: flex-start;
                gap: 1rem;
                width: 20.6rem;

                .title {
                    width: 21rem;
                    height: 5rem;
                    font-size: 2.2rem;
                    letter-spacing: -0.05rem;
                    line-height: 140%;

                    .imageIcon {
                        padding: 0.8rem;
                    }
                }

                .subtitle {
                    margin-top: 1rem;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    letter-spacing: -0.015rem;
                    height: 5.5rem;
                }

                .buttons {
                    width: 17.2rem;

                    .contentButton {
                        width: 13rem;
                        height: 4.1rem;
                    }

                    .contentArrowButton {
                        width: 4.06rem;
                        height: 4.06rem;
                    }
                }

                .statistics {
                    gap: 0.5rem;
                    margin-top: 4rem;
                }
            }

            .imageContainer {
                width: 100%;
                margin-top: 2rem;
            }
        }
    }
}
